@charset "UTF-8";

body, html{
    background-color:lightgray;
}
article{
    background-color:white;
    padding:10px;
    text-align:justify;
    text-indent:20px;
    max-width:800px;
    margin:auto;
    border-radius:10px
}
article > h2{
    text-align:left;
    margin-left:0px
}